body{
    font-family: 'Special Elite', cursive;
    background: #f5dbda;
}
.text_images_and_result{
    background: rgb(204, 228, 255);
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px rgb(204, 228, 255);
}